*.a
*.di
*.glob
*.ll
*.s
*.tgz
*.vo
make/config/goop/getBits
war.failed
war.results
war-std
*.ddc.c
*.ddc.h
*.dep
*.so
Main.dump*
_darcs
*.hi-boot
*.o-boot
*.bin
make/config-override.mk
make/deps
external/TinyPTC-X11-0.7.3/config.h
bin
