*.a
*.s
*.o
*.o-boot
*.so
*.hi
*.hi-boot
*.di
*.ll
*.tgz
*.ddc.c
*.ddc.h
*.dep
*.bin
_darcs
war.results
war.failed
war-std
war-opt
Main.dump*
bin
make/config-override.mk
make/deps
external/TinyPTC-X11-0.7.3/config.h
packages/ddc-alpha/src/Config/Config.hs
packages/ddc-alpha/src/Source/Lexer.hs
packages/ddc-alpha/src/Source/Plate/Trans.hs
