Ben Lippmeier           <benl@ouroborus.net>		<Ben.Lippmeier@anu.edu.au>
Ben Lippmeier		<benl@ouroborus.net>		<benl@ouroborus.net>
Ben Lippmeier		<benl@ouroborus.net>		<benl@localhost.localdomain>
Erik de Castro Lopo	<erikd@mega-nerd.com>		<erikd@mega-nerd.com>
Amos Robinson		<amos.robinson@gmail.com>	<amos.robinson@gmail.com>
Thomas Bereknyei	<tomberek@gmail.com>		<tomberek@gmail.com>
Tran Ma			<tranma@cse.unsw.edu.au>	<ma.ngoc.tran@gmail.com>
Kyle Van Berendonck     <kvanberendonck@gmail.com>
Chris Eidhof		<chris@eidhof.nl>

