
TARGET         = nothing
BUILDFLAVOUR   = distro
GHC            = ghc

# TARGET: Set the target architecture
#    linux-x86
#    linux-x86_64
#    darwin-x86
#    darwin-x86_64

# BUILDFLAVOUR: Set the optimisations to enable when compiling the compiler
#     distro     - fastest at runtime.
#     devel      - development compile (faster compiler build).
#     devel_prof - development compile with profiling.

